<!DOCTYPE html>
<html lang="pl">
   <head>
      {% load static %}
      <meta charset="UTF-8">
      <title>Dietetyk - Dodanie posiłku do diety</title>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <link href="images/favicon.ico" rel="icon">
      <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   </head>
   <body>
         <script type='text/javascript'>

             var i =2;
        function addFields(){

            var container = document.getElementById("container");

            container.appendChild(document.createTextNode("Składnik " + (i) + " "));

            var input1 = document.createElement("input");
            input1.type = "text";
            input1.name = "skladnik" + i;
            input1.size = 30;
            input1.placeholder = "Składnik"
            container.appendChild(input1);
            container.appendChild(document.createTextNode(" "));

            var input2 = document.createElement("input");
            input2.type = "text";
            input2.name = "ilosc" + i;
            input2.size = 15;
            input2.placeholder = "Ilość"
            container.appendChild(input2);
            container.appendChild(document.createTextNode(" "));

            var input3 = document.createElement("input");
            input3.type = "text";
            input3.name = "wartosc" + i;
            input3.size = 15;
            input3.placeholder = "Miara(np.gr lub szt)"
            container.appendChild(input3);

            container.appendChild(document.createElement("br"));

            i++;

        }
    </script>
      <header class="header">
         <nav class="main-menu" style= "padding-top: 25px;">
            <a href="{% url 'home'%}"><img src="{% static "images/logo.png" %}" style="height:80px; padding-left:155px; margin-bottom: 20px"></a>
            <a href="{% url 'logout' %}" style= "float: right; padding-top: 35px; padding-right: 155px">Wyloguj się</a>
         </nav>
      </header>

      <section class="tabele container2">
         <h2>Dodaj posiłek do diety</h2>
         <br>
         <ul>
            <li>
               <table class ="dodanie_posilku">
                  <tr>
                     <th>Składniki</th>
                  </tr>
                  <tr>
                     <td>

                        <form style="text-align: center;margin-left: auto;margin-right: auto;">
                            Nazwa posiłku:
                            <input type="text" id="nazwa_posilku" name="nazwa_posilku" placeholder="Wpisz nazwę posiłku" size="50"> <br>
                            Składnik 1
                           <input type="text" id="skladnik1" name="skladnik1" placeholder="Składnik" size="30">
                           <input type="text" id="ilosc1" name="ilosc1" placeholder="Ilość" size="15">
                           <input type="text" id="wartosc1" name="wartosc1" placeholder="Miara(np.gr lub szt)" size="15">
                           <div id="container"/>
                        </form>
                     </td>
                  </tr>


                  <th>
                     <a href="#"><img src="{% static "images/add.png" %}" onclick="addFields()" style="height:40px;padding-top:20px"></a>
                  </th>
               </table>
            </li>
            <li>
               <table class ="dodanie_posilku">
                  <tr>
                     <th>Przepis</th>
                  </tr>
                  <tr>
                  <td><form style="text-align: center;margin-left: auto;margin-right: auto;">
                           <input style="height:200px" type="text" id="skladnik3" name="skladnik3" placeholder="Tu zapisz przepis..." size="70" >
                        </form></td>
                     </tr>
               </table>
            </li>
         </ul>
         <br> <br>
         <form method="POST">
         <a href="{% url 'panel' %}" style= "text-align:center;color: darkblue;">
                        <h9>Zapisz posiłek</h9>
                         <button>OK</button>

                     </a>
         </form>

      </section>

      <footer class="contact container">
      </footer>
   </body>
</html>