<!DOCTYPE html>
<html lang="pl">
   <head>
      {% load static %}
      <meta charset="UTF-8">
      <title>Dietetyk - podgląd klienta</title>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <link href="images/favicon.ico" rel="icon">
      <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

   </head>
   <body>
      <header class="header">
         <nav class="main-menu" style= "padding-top: 25px;">
            <a href="{% url 'home' %}"><img src="{% static "images/logo.png" %}" style="height:80px; padding-left:155px; margin-bottom: 20px"></a>
            <a href="logowanie.html" style= "float: right; padding-top: 35px; padding-right: 155px">Wyloguj się</a>
         </nav>
      </header>

      <section class="tabele container_podglad">
         <h2>Podgląd klienta: Mariusz Gołębiewski</h2>
         <br>
         <ul>
            <li>
               <table class ="table1">
                  <tr>
                     <th>Aktualna dieta </th>
                  </tr>
                  <tr>
                     <td>Śniadanie: Fasolka, Marchewka, Fasolka</td>
                  </tr>
                  <tr>
                     <td>Obiad: Fasolka, Marchewka, Fasolka</td>
                  </tr>
                  <tr>
                     <td>Kolacja: Fasolka, Marchewka, Fasolka</td>
                  </tr>
                  <tr>
                     <td>Przekąska: Śniadanie: Fasolka, Marchewka</td>
                  </tr>
                  <th>
                     <a href="{% url 'add_meal' %}" style= "text-align:center;   color: darkblue;">
                        <h9>Dodaj posiłek</h9>
                     </a>
                  </th>
               </table>
            </li>
            <li>
               <table class ="table1">
                  <tr>
                     <th>Dostępne diety</th>
                  </tr>
                  <tr>
                     <td>Dieta Wegańska</td>
                  </tr>
                  <tr>
                     <td>Dieta "McŁowicz"</td>
                  </tr>
                  <tr>
                     <td>Dieta "Dla Janusza"</td>
                  </tr>
                  <tr>
                     <td>Dieta CSS</td>
                  </tr>
                  <th>
                     <a href="index.html" style= "text-align:center;color: darkblue;">
                        <h9>Importuj dietę</h9>
                     </a>
                  </th>
               </table>
            </li>
         </ul>
      </section>
      <section class="kontakt container">
         <h2>Konwersacja z klientem</h2>
         <table class= "table2">
            <tr>
               <td>Dzień dobry, czy mógłbym prosić o pomoc w sprawie mojej diety? </td>
            </tr>
            <tr>
               <td class= "odp">Dzień dobry Panie Mariuszu, jasne, że tak. W czym mogę pomóc? </td>
            </tr>
            <tr>
               <td>Otóż chciałbym z niej zrezygnować :/</td>
            </tr>
         </table>
         <table class= "table3">
            <tr>
               <td>
                  <form>
                     <input type="text" id="wiadomosc" name="wiadomosc"   placeholder="Wpisz wiadomość..." size="70">
                  </form>
               </td>
               <td >
                  <button>OK</button>
               </td>
            </tr>
         </table>
      </section>
      <footer class="contact container">
      </footer>
   </body>
</html>