<!DOCTYPE html>
<html lang="pl">
   <head>
      {% load static %}
      <meta charset="UTF-8">
      <title>Dietetyk - widok klienta</title>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <link href="images/favicon.ico" rel="icon">
      <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   </head>
   <body>
      <header class="header">
         <nav class="main-menu" style= "padding-top: 25px;">
            <a><img src="{% static "images/logo.png" %}" style="height:80px; padding-left:155px; margin-bottom: 20px"></a>
            <a href="{% url 'logout' %}" style= "float: right; padding-top: 35px; padding-right: 155px">Wyloguj się</a>
         </nav>
      </header>

      <section class="tabele container_podglad">
         <h2>Twoja dieta</h2>
         <br>
         <ul>

            {% if my_list %}
            <li>
               <h2>Aktualna dieta</h2>
               <table class ="table1">
                  {% for meal, ingredient in my_list %}
                  <tr>
                     <td>{{ meal.name }} = {{ ingredient }}
                     </td>
                  </tr>
                  {% endfor %}
                  <th>
                     <a href="{% url 'add_meal' %}" style= "text-align:center;   color: darkblue;">
                        <h9>        </h9>
                     </a>
                  </th>
               </table>
               {% endif %}
            </li>
            <li>

               <h2>Konwersacja z dietetykiem</h2>
         <table class= "table2_klient">

            <tr>
               <td>Dzień dobry, czy mógłbym prosić o pomoc w sprawie mojej diety? </td>
            </tr>
            <tr>
               <td class= "odp">Dzień dobry Panie Mariuszu, jasne, że tak. W czym mogę pomóc? </td>
            </tr>
            <tr>
               <td>Otóż chciałbym z niej zrezygnować :/</td>
            </tr>
         </table>
         <table class= "table3">
            <tr>
               <td>
                  <form>
                     <input type="text" id="wiadomosc" name="wiadomosc"  placeholder="Wpisz wiadomość..." size="50">
                  </form>
               </td>
               <td >
                  <button>OK</button>
               </td>
            </tr>
         </table>
            </li>
         </ul>
      </section>
      <section class="kontakt container">
         
      </section>
      <footer class="contact container">
      </footer>
   </body>
</html>