<!DOCTYPE html>
<html lang="pl">
   <head>
      <meta charset="UTF-8">
      <title>Dietetyk - Nie przypisano do dietetyka</title>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <link href="images/favicon.ico" rel="icon">
      <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
   </head>
   <body>
      <header class="header">
         <nav class="main-menu" style= "padding-top: 25px;">
            <a href="index.html"><img src="images/logo.png" style="height:80px; padding-left:155px; margin-bottom: 20px"></a>
            <a href="logowanie.html" style= "float: right; padding-top: 35px; padding-right: 155px">Wyloguj się</a>
         </nav>
      </header>

      <section class="tabele" style="text-align: center;margin-left: auto;margin-right: auto; margin-top: 150px">
         <h2>Aktualnie oczekujesz w kolejce do dodania do jednego z dietetyków</h2>
         <br>
         <ul >
               
         </ul>


      </section>

      <footer class="contact container" style="text-align: center;margin-left: auto;margin-right: auto; margin-top: 150px">
          <p>W razie pytań zapraszam do kontaktu pod adresem: <br> covid-19@dietetyk.pl</p>
      </footer>
   </body>
</html>